<div class="page-header">
    <h1>
        DGDA Smart Pharmacy
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Purchase
        </small>
    </h1>
</div><!-- /.page-header -->

<div class="row">
    <div class="col-xs-6">
        <div class="custom-alert" #hasAlert></div>

        <!-- PAGE CONTENT BEGINS -->
        <form class="form-horizontal" role="form"  id="myForm" (ngSubmit)="addToCart()">
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Company </label>

                <div class="col-sm-5">
                    <input id="typeahead-company" name="company" [(ngModel)]="cartItem.company" type="text"
                           class="form-control" [ngbTypeahead]="company_search"/>
                </div>

            </div>

            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-3 no-padding-right"> Medicine </label>

                <div class="col-xs-12 col-sm-5">
                    <input placeholder="Type Name or ID" id="typeahead-basic" name="search"
                           [(ngModel)]="cartItem.medicine" type="text" class="form-control" [ngbTypeahead]="search"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1-1"> Quantity </label>

                <div class="col-sm-5">
                    <input type="number" id="form-field-1-2" name="quantity" [(ngModel)]="cartItem.quantity"
                           placeholder="Quantity" class="form-control"/>
                </div>
            </div>

            <!--<div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1-1"> Note </label>

                <div class="col-sm-5">
                    <textarea class="form-control" id="form-field-8" placeholder="Default Text"></textarea>
                </div>
            </div>-->

            <div class="clearfix form-actions">
                <div class="col-md-offset-1 col-md-9">
                    <button class="btn btn-info add-to-cart" type="submit">
                        <i class="ace-icon fa fa-check bigger-110"></i>
                        Add to Cart
                    </button>

                    &nbsp; &nbsp; &nbsp;
                    <!--<button class="btn" type="reset">
                        <i class="ace-icon fa fa-undo bigger-110"></i>
                        Reset
                    </button>-->
                </div>
            </div>

        </form>

    </div><!-- /.col -->
    <div class="col-xs-6">

        <table id="cart" class="table table-hover table-condensed">
            <caption>Cart View</caption>
            <thead>
            <tr>
                <th style="width:50%">Product</th>
                <th style="width:10%">Price</th>
                <th style="width:8%">Quantity</th>
                <th style="width:22%" class="text-center">Subtotal</th>
                <th style="width:10%"></th>
            </tr>
            </thead>
            <tbody *ngIf="productList && productList?.cart_items?.length > 0; else NoItem">
            <ng-container *ngFor="let cart of productList?.cart_items; let i = 'index'; trackBy: trackList">

                <tr>
                    <td data-th="Product">
                        <div class="row">
                            <div class="col-sm-2 hidden-xs"><img
                                    src="https://www.netmeds.com/pub/media/catalog/product/cache/image/57453768b1c789093496adaa9e415a9d/f/a/fast-up-vegan-sports-energy-gel-chocolate-flavour-5x-30-gm-839458366.jpg"
                                    alt="..." class="img-responsive"/></div>
                            <div class="col-sm-10">
                                <p class="nomargin">{{cart.medicine.brand_name}}</p>
                                <small>{{cart.batch_no}}</small>
                            </div>
                        </div>
                    </td>
                    <td data-th="Price">&#2547; {{cart.unit_price}}</td>
                    <td data-th="Quantity">
                        <input type="number" name="quantity" class="form-control text-center" value="{{cart.quantity}}">
                    </td>
                    <td data-th="Subtotal" class="text-center">&#2547; {{cart.sub_total}}</td>
                    <td class="actions" data-th="">
                        <button (click)="remove(cart.id)" id="item_id" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
                    </td>
                </tr>
            </ng-container>
            </tbody>
            <tfoot>
            <tr class="visible-xs">
                <td class="text-center"><strong>Total {{productList?productList.sub_total:0}}</strong></td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
                <td class="hidden-xs text-center"><strong>Total &#2547; {{productList?productList.sub_total:0}}</strong></td>
            </tr>

            <tr>
                <td colspan="5" id="checkout-cart"><a (click)="submitOrder()" class="btn btn-success btn-block">Submit Order <i
                        class="fa fa-angle-right"></i></a></td>
            </tr>
            </tfoot>

            <ng-template #NoItem>
                <tbody>
                <tr>
                    <td colspan="7">
                        <h5 class="text-center">No Item Found</h5>
                    </td>
                </tr>
                </tbody>
            </ng-template>
        </table>
    </div>
</div><!-- /.row -->

<style>

</style>
