<div class="page-header">
    <h1>
        DGDA Smart Pharmacy
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Manual Purchase
        </small>
    </h1>
</div><!-- /.page-header -->

<div class="row">
    <div class="col-md-12">

        <div class="form-group">
            <label class="col-sm-1 control-label no-padding-right" for="form-field-1"> Company</label>
            <div class="col-sm-3">
                <input id="typeahead-company" name="company" type="text" [(ngModel)]="manualOrder.company"
                       class="form-control" [ngbTypeahead]="company_search"/>
            </div>

            <label class="col-sm-1 control-label no-padding-right" for="form-field-1"> Invoice </label>
            <div class="col-sm-3">
                <input id="company_invoice" [(ngModel)]="manualOrder.company_invoice" name="company_invoice" type="text"
                       class="form-control"/>
            </div>

            <label class="col-sm-1 control-label no-padding-right" for="form-field-1"> Date</label>
            <div class="col-sm-3">
                <input id="purchase_date" [(ngModel)]="manualOrder.purchase_date" name="purchase_date" type="date"
                       class="form-control"/>
            </div>
        </div>
    </div>
</div>
<div class="space-10"></div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class="col-sm-1 control-label no-padding-right" for="form-field-1"> Discount </label>

            <div class="col-sm-3">
                <input id="discount" [(ngModel)]="manualOrder.discount" name="discount" type="text"
                       class="form-control"/>
            </div>
        </div>
    </div>
</div>
<div class="space-10"></div>
<div class="row">
    <label class="col-md-3">
        Medicine
    </label>
    <label class="col-md-2">
        Batch
    </label>
    <label class="col-md-1">
        Quantity
    </label>
    <label class="col-md-2">
        Vat
    </label>
    <label class="col-md-2">
        Exp Date
    </label>
    <label class="col-md-2">
        Total
    </label>

</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()" id="myForm">
    <div class="row">
        <div formArrayName="medicines" class="col-md-3">
            <div *ngFor="let medicine of medicines.controls; index as i">
                <input formControlName="{{i}}" placeholder="Type Name or ID" type="text" class="form-control"
                       [ngbTypeahead]="search"/>
            </div>
        </div>
        <div formArrayName="batches" class="col-md-2">
            <div *ngFor="let batch of batches.controls; index as i">
                <input formControlName="{{i}}" placeholder="Batch" class="form-control">
            </div>
        </div>
        <div formArrayName="quantities" class="col-md-1">
            <div *ngFor="let quantity of quantities.controls; index as i">
                <input formControlName="{{i}}" placeholder="Quantity" class="form-control">
            </div>
        </div>
        <div formArrayName="vats" class="col-md-2">
            <div *ngFor="let vat of vats.controls; index as i">
                <input formControlName="{{i}}" placeholder="Vat" class="form-control">
            </div>
        </div>
        <div formArrayName="powers" class="col-md-2">
            <div *ngFor="let power of powers.controls; index as i">
                <input type="date" formControlName="{{i}}" placeholder="Power" class="form-control">
            </div>
        </div>
        <div formArrayName="totals" class="col-md-2">
            <div *ngFor="let total of totals.controls; index as i">
                <input formControlName="{{i}}" placeholder="Total" class="form-control">
            </div>
        </div>

    </div>
    <div class="space-10"></div>

    <div class="row">
        <div class="col-md-2">
            <a class="btn btn-default" (click)="addItem()"><i class="fa fa-plus"></i>&nbsp;Add More</a>
        </div>
        <div class="col-md-2 col-md-offset-1">
            <button class="btn btn-primary">Submit</button>
        </div>

        <div class="col-md-4">
            <div class="custom-alert" #hasAlert></div>
        </div>

    </div>
</form>


